ClienteWS/src/META-INF/wsdl/localhost_8080/AdministracionPersistenciaJPAWS/AdministracionPersistenciaJPAWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="AdministracionPersistenciaJPAWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/AdministracionPersistenciaJPAWS/AdministracionPersistenciaJPAWS?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarProducto">
<part name="parameters" element="tns:consultarProducto"/>
</message>
<message name="consultarProductoResponse">
<part name="parameters" element="tns:consultarProductoResponse"/>
</message>
<message name="crearInformacionEnvio">
<part name="parameters" element="tns:crearInformacionEnvio"/>
</message>
<message name="crearInformacionEnvioResponse">
<part name="parameters" element="tns:crearInformacionEnvioResponse"/>
</message>
<message name="crearInformacionFactura">
<part name="parameters" element="tns:crearInformacionFactura"/>
</message>
<message name="crearInformacionFacturaResponse">
<part name="parameters" element="tns:crearInformacionFacturaResponse"/>
</message>
<message name="modificarProductos">
<part name="parameters" element="tns:modificarProductos"/>
</message>
<message name="modificarProductosResponse">
<part name="parameters" element="tns:modificarProductosResponse"/>
</message>
<message name="ModificacionProductoException">
<part name="fault" element="tns:ModificacionProductoException"/>
</message>
<message name="consultarComprador">
<part name="parameters" element="tns:consultarComprador"/>
</message>
<message name="consultarCompradorResponse">
<part name="parameters" element="tns:consultarCompradorResponse"/>
</message>
<message name="consultarProductos">
<part name="parameters" element="tns:consultarProductos"/>
</message>
<message name="consultarProductosResponse">
<part name="parameters" element="tns:consultarProductosResponse"/>
</message>
<message name="consultarCompradores">
<part name="parameters" element="tns:consultarCompradores"/>
</message>
<message name="consultarCompradoresResponse">
<part name="parameters" element="tns:consultarCompradoresResponse"/>
</message>
<message name="crearOrden">
<part name="parameters" element="tns:crearOrden"/>
</message>
<message name="crearOrdenResponse">
<part name="parameters" element="tns:crearOrdenResponse"/>
</message>
<message name="CreacionOrdenException">
<part name="fault" element="tns:CreacionOrdenException"/>
</message>
<message name="crearBitacora">
<part name="parameters" element="tns:crearBitacora"/>
</message>
<message name="crearBitacoraResponse">
<part name="parameters" element="tns:crearBitacoraResponse"/>
</message>
<portType name="AdministracionPersistenciaJPAWS">
<operation name="consultarProducto">
<input wsam:Action="http://ws/AdministracionPersistenciaJPAWS/consultarProductoRequest" message="tns:consultarProducto"/>
<output wsam:Action="http://ws/AdministracionPersistenciaJPAWS/consultarProductoResponse" message="tns:consultarProductoResponse"/>
</operation>
<operation name="crearInformacionEnvio">
<input wsam:Action="http://ws/AdministracionPersistenciaJPAWS/crearInformacionEnvioRequest" message="tns:crearInformacionEnvio"/>
<output wsam:Action="http://ws/AdministracionPersistenciaJPAWS/crearInformacionEnvioResponse" message="tns:crearInformacionEnvioResponse"/>
</operation>
<operation name="crearInformacionFactura">
<input wsam:Action="http://ws/AdministracionPersistenciaJPAWS/crearInformacionFacturaRequest" message="tns:crearInformacionFactura"/>
<output wsam:Action="http://ws/AdministracionPersistenciaJPAWS/crearInformacionFacturaResponse" message="tns:crearInformacionFacturaResponse"/>
</operation>
<operation name="modificarProductos">
<input wsam:Action="http://ws/AdministracionPersistenciaJPAWS/modificarProductosRequest" message="tns:modificarProductos"/>
<output wsam:Action="http://ws/AdministracionPersistenciaJPAWS/modificarProductosResponse" message="tns:modificarProductosResponse"/>
<fault message="tns:ModificacionProductoException" name="ModificacionProductoException" wsam:Action="http://ws/AdministracionPersistenciaJPAWS/modificarProductos/Fault/ModificacionProductoException"/>
</operation>
<operation name="consultarComprador">
<input wsam:Action="http://ws/AdministracionPersistenciaJPAWS/consultarCompradorRequest" message="tns:consultarComprador"/>
<output wsam:Action="http://ws/AdministracionPersistenciaJPAWS/consultarCompradorResponse" message="tns:consultarCompradorResponse"/>
</operation>
<operation name="consultarProductos">
<input wsam:Action="http://ws/AdministracionPersistenciaJPAWS/consultarProductosRequest" message="tns:consultarProductos"/>
<output wsam:Action="http://ws/AdministracionPersistenciaJPAWS/consultarProductosResponse" message="tns:consultarProductosResponse"/>
</operation>
<operation name="consultarCompradores">
<input wsam:Action="http://ws/AdministracionPersistenciaJPAWS/consultarCompradoresRequest" message="tns:consultarCompradores"/>
<output wsam:Action="http://ws/AdministracionPersistenciaJPAWS/consultarCompradoresResponse" message="tns:consultarCompradoresResponse"/>
</operation>
<operation name="crearOrden">
<input wsam:Action="http://ws/AdministracionPersistenciaJPAWS/crearOrdenRequest" message="tns:crearOrden"/>
<output wsam:Action="http://ws/AdministracionPersistenciaJPAWS/crearOrdenResponse" message="tns:crearOrdenResponse"/>
<fault message="tns:CreacionOrdenException" name="CreacionOrdenException" wsam:Action="http://ws/AdministracionPersistenciaJPAWS/crearOrden/Fault/CreacionOrdenException"/>
</operation>
<operation name="crearBitacora">
<input wsam:Action="http://ws/AdministracionPersistenciaJPAWS/crearBitacoraRequest" message="tns:crearBitacora"/>
<output wsam:Action="http://ws/AdministracionPersistenciaJPAWS/crearBitacoraResponse" message="tns:crearBitacoraResponse"/>
</operation>
</portType>
<binding name="AdministracionPersistenciaJPAWSPortBinding" type="tns:AdministracionPersistenciaJPAWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearInformacionEnvio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearInformacionFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ModificacionProductoException">
<soap:fault name="ModificacionProductoException" use="literal"/>
</fault>
</operation>
<operation name="consultarComprador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarCompradores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreacionOrdenException">
<soap:fault name="CreacionOrdenException" use="literal"/>
</fault>
</operation>
<operation name="crearBitacora">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdministracionPersistenciaJPAWS">
<port name="AdministracionPersistenciaJPAWSPort" binding="tns:AdministracionPersistenciaJPAWSPortBinding">
<soap:address location="http://localhost:8080/AdministracionPersistenciaJPAWS/AdministracionPersistenciaJPAWS"/>
</port>
</service>
</definitions>